* {
    margin: 0;
    color: black;
    font-family: 'Cinzel', serif;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

a:hover {
    color: gold;
}

.sep {
    height: 6em;
}

#nav-bar {
    background: rgb(226, 226, 226);
    padding: 10px;
}

a {
    text-decoration: none;
}

.nav-bar-links {
    display: inline-block;
}

.nav-bar-links:hover {
    color: gold;
}

.gap {
    height: 5em;
    background: rgb(226, 226, 226);
}

.hero-feature {
    background: pink;
    background: url(https://cdn.pixabay.com/photo/2015/01/10/10/50/road-595101_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100em;
}

.hero-feature-name {
    font-size: 10em;
}

.hero-feature-name:hover {
    color: gold;
}

#section-a {
    background: pink;
    background: url(https://cdn.pixabay.com/photo/2015/12/08/00/30/ocean-1081783_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60em;
}

.section-a-paragraph {
    font-size: 2em;
}

#section-b {
    height: 40%;
    width: 100%;
}

.section-b-img {
    width: 30%;
    height: 100%;
    top: 5em;
}

.section-b-text {
    font-size: 4em;
    padding: 0.5em;
}

.section-b-text:hover {
    font-size: 5em;
    color: black;
}

#footer {
    position: relative;
    background: white;
    width: 100%;
    height: 50px;
}

.footer-list-text {
    display: inline-block;
    padding: 1em;
    color: gold;
}

.footer-list-text:hover {
    color: white;
    background: gold;
}

.imagecontent {
    width: 50%;
}